@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin-font {
  font-family: "Poppins", sans-serif;
}

/* header section */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}

.navbar h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-container li{
    list-style: none;
    
}
.nav-container a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}

/* camera section */

.camera-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.camera-title{
    max-width: 582px;
    width: 100%;
}

.camera-title h1{
    font-size: 3.25rem;
    line-height: 70px;
    color: #3A3A3A;
    font-weight: 700;
}

.camera-title p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
/* button section */
.booking-btn{
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;

}



/* camera img section */

.camera-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url("../images/Circle design.svg");
    width: 475px;
    height: 475px;

}
.camera-img img{
    max-width: 440px;
    width: 100%;
}